# ignore user settings
**/*.user
dxfnet.VC.db

# ignore binary solution file
**/*.suo

# ignore resharper folders
_ReSharper.*

# ignore bin & obj folders
**/bin/**
**/obj/**

# ignore nuget repository
packages/**

# ignore Visual Studio folders
.vs

# ignore Rider folders
.idea

*.log

# generated documentation
/docs/dxfeed-*/
/docs/*.old

*.dll
*.pdb
